#set($wrapperPackage=$package.Entity.replace("entity","wrapper"))
package $!{wrapperPackage};
import lombok.AllArgsConstructor;
import org.jboot.kernel.mp.support.BaseEntityWrapper;
import org.jboot.kernel.toolkit.utils.BeanUtil;
import $!{package.Entity}.$!{entity};
#set($voPackage=$package.Entity.replace("entity","vo"))
import $!{voPackage}.$!{entity}VO;
public class $!{entity}Wrapper extends BaseEntityWrapper<$!{entity}, $!{entity}VO>  {
    public static $!{entity}Wrapper build() {
        return new $!{entity}Wrapper();
    }
	@Override
	public $!{entity}VO entityVO($!{entity} $!{table.entityPath}) {
		$!{entity}VO $!{table.entityPath}VO = BeanUtil.copyProperties($!{table.entityPath}, $!{entity}VO.class);
		return $!{table.entityPath}VO;
	}
}
